<app-menu></app-menu>
<header class="masthead clear">
    <div class="centered">
        
        <div class="site-branding">
            <h1 class="titulo text-center">Agradecimentos</h1>
          <p class="texto text-center">A equipe DEV'S GOAT agradece a empresa <a title="GenerationBrasil" href="https://brazil.generation.org/" target="_blank"> <h2 class="gen">Generation Brasil</h2></a> pela oportunidade de aprendizado através do BootCamp de Desenvolvedor Full-Stack Java. Agradecemos também aos nossos tutores: </p> 
        </div><!-- .site-title -->
    </div><!-- .centered -->
</header><!-- .masthead -->

<main class="main-area">
    
    <div class="centered">

        <section class="cards">
            
             <article class="card">
                <a href="https://www.linkedin.com/in/jefferson-itajahy-aab58b120/" target="_blank">
                    <picture class="thumbnail">
                        <img src="https://i.imgur.com/GjJW8KY.jpg" alt="Professor Jefferson Itajahy">
                    </picture>
                    <div class="card-content">
                        <h2>Jefferson Itajahy (Jeff)</h2>
                        <p>Professor do bloco 1, responsável pelos ensinamentos de lógica de programação, SOFT,HARD Skills e Java-Eclipse.  </p>
                    </div><!-- .card-content Jeff -->
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="https://www.linkedin.com/in/jessica-lopes-teodozio/" target="_blank">
                    <picture class="thumbnail">
                        <img src="https://i.imgur.com/EQOZXpc.jpg" alt="Professora Jessica Lopes">
                    </picture>
                    <div class="card-content">
                        <h2>Jéssica Lopes (Jess)</h2>
                        <p>Professora do bloco 2, responsável pelos ensinamentos de SpringBoot, MySql, Heroku e documentação Swagger.  </p>
                    </div><!-- .card-content Jess -->
                </a>
            </article><!-- .card -->


            <article class="card">
                <a href="https://www.linkedin.com/in/geandro-ara%C3%BAjo-1b19881b4/" target="_blank">
                    <picture class="thumbnail">
                        <img src="https://i.imgur.com/tOOx4WP.jpg" alt="Professor Geandro Araújo">
                    </picture>
                    <div class="card-content">
                        <h2>Geandro Araújo (Gê)</h2>
                        <p>Professor do bloco 3, responsável pelos ensinamentos de HTML, CSS, Bootstrap e Angular.  </p>
                    </div><!-- .card-content Geandro-->
                </a>
            </article><!-- .card -->



            <article class="card">
                <a href="https://www.linkedin.com/in/leonardo-alves-7b5aa5152/" target="_blank">
                    <picture class="thumbnail">
                        <img src="https://i.imgur.com/WHVG7EE.jpg" alt="Instrutor Leonardo Alves">
                    </picture>
                    <div class="card-content">
                        <h2>Leonardo Alves</h2>
                        <p>Instrutor responsável pela turma 46 do BootCamp Dev. Full Stack-Java, da Generation como forma de auxilio e suporte a dúvidas e conteúdos de todos os blocos aos alunes. Também responsável pelos ensinamentos de Soft e Hard Skills, Portugol, HTML e CSS.  </p>
                    </div><!-- .card-content Leo -->
                </a>
            </article><!-- .card -->

        </section><!-- .cards -->
       
    </div><!-- .centered -->

</main> 

<app-rodape></app-rodape>