<app-menu></app-menu>

<header>
    <h1 class="headline">Voz Ativa</h1>
    <h2 class="subhead"> Rede social que incentiva a igualdade de gênero</h2>
    <div class="article-meta">
        <p class="byline">by Dev's Goat </p>

    </div>
</header>



<div class="section">

    <div class="container mt-4">

        <!-- Aqui é o código do projeto 3D da nossa equipe -->
        <iframe src='https://my.spline.design/projetovozativa3-5c21b2c920d68f93e4eccd0cd8fe2bc2/' frameborder='0'
            width='100%' height='500px'>
        </iframe>


    </div>


    <div class="container">
        <div class="row">

            <div class="col">
                <div class="container d-flex aling-items-center flex_div mt-4 cardB">
                    <div class="one_fourth">
                        <figure class="mt-4">
                            <img src="https://i.imgur.com/rlIQQ2W.png"
                                alt="a person in black high-heeled boots sitting on an arcade basketball game. " />
                        </figure>

                        <div class="texto">

                            <h4>ODS #5 Igualdade de Gênero</h4>

                            <p>Os Objetivos de Desenvolvimento Sustentável (ODS) são uma agenda mundial adotada durante a Cúpula das Nações Unidas. 
                                ODS 5 – Violência e exploração sexual, desigualdade no acesso e à remuneração no mercado de trabalho, divisão desigual do cuidado não remunerado e do trabalho doméstico, e a discriminação no cargo público, permanecem enormes barreiras à igualdade de gênero.</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container d-flex aling-items-center flex_div mt-4 cardB">
                    <div class="one_fourth">
                        <figure class="mt-4">
                            <img src="https://i.imgur.com/Yp21fQx.png"
                                alt="a person in black high-heeled boots sitting on an arcade basketball game. " />
                        </figure>

                        <div class="texto">

                            <h4> Introdução </h4>

                            <p class="d-flex justify-content-center">A construção da igualdade de gênero é evitar que processos de discriminação ocorram, é a base de uma sociedade livre de preconceitos e discriminações. O direito humano à educação, liberdade de opinião e expressão deve ser garantido a todas as pessoas, independente de sexo, raça, orientação sexual, identidade de gênero, renda entre outros deve ser garantido a todas as pessoas.
                                Falar de gênero é uma forma de revelar desigualdades que são na maioria das vezes silenciadas na sociedade e tidas como normais.
                                </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container d-flex aling-items-center flex_div mt-4 cardB">
                    <div class="one_fourth">

                        <figure class="mt-4">
                            <img src="https://i.imgur.com/xs0xOdT.png"
                                alt="a person in black high-heeled boots sitting on an arcade basketball game. " />
                        </figure>
                    
                        <div class="texto">

                            <h4> Objetivo </h4>

                            <p class="d-flex justify-content-center">
                                <p class="d-flex justify-content-center">Nosso principal objetivo é proporcionar maiores e melhores oportunidades, como oferecer diretrizes, compartilhar experiências e trocas de ideias para que em grupos possamos nos fortalecer para alcançar mais e mais a igualdade de gênero, incluir valores, ser uma rede social de grande importância e talvez mudança para muitas pessoas que tiverem esse acesso. </p> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container d-flex aling-items-center flex_div mt-4 cardB">
                    <div class="one_fourth  ">
                        <figure class="mt-4">
                            <img src="https://i.imgur.com/UJdYiUO.png"
                                alt="a person in black high-heeled boots sitting on an arcade basketball game. " />

                        </figure>
           
                        <div class="texto">

                            <h4> Ferramentas </h4>


                            <p class="d-flex justify-content-center">As ferramentas foram utilizadas passo a passo de acordo com o que foi disponibilizado a cada momento, a metodologia ágil SCRUM buscamos entender para aplicar em nosso grupo, o próximo passo foi o Back End com a linguagem Java no Spring boot, utilizando o SQL, construir uma API, aplicar métodos CRUD, security, realizar testes com JUnit, swagger e realizar o deploy no Heroko.
                                No Front End utilizamos o HTML, CSS com layouts para a estruturação melhor das nossas páginas, com o framework angular.
                                </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-rodape></app-rodape>