<app-menu></app-menu>

<div class="conatiner">
  <div class="wrap">
    
    <div class="box one">
      <h1>Paulo Brisola</h1>
      <div class="poster p14">
        <div style="display: flex;width: 100%;justify-content: center;"> 
          <a href="https://www.linkedin.com/in/paulo-brisola/" target="_blank"><img class="img-fluid"src="https://i.imgur.com/v7D3Tap.png"></a>
        
      </div> 
    </div>
        
    <div class="poster2 p14">
      <div style="display: flex;width: 100%;justify-content: center;">
        <a href="https://github.com/Brisola2021" target="_blank"> <img class="img-fluid2" src="https://i.imgur.com/2aS8GtQ.png"> </a>

        </div>
      </div>              
    
        
    </div>
        
        
        
    <div class="box two">
      <h1>Suelen Bento</h1>
      <div class="poster p16">
        <div style="display: flex;width: 100%;justify-content: center;"> 
          <a href="https://www.linkedin.com/in/suelen-bento-265b8222a/" target="_blank"><img class="img-fluid"src="https://i.imgur.com/v7D3Tap.png"></a>
        
      </div> 
    </div>
        
    <div class="poster2 p16">
      <div style="display: flex;width: 100%;justify-content: center;">
        <a href="https://github.com/SuelenBento" target="_blank"> <img class="img-fluid2" src="https://i.imgur.com/2aS8GtQ.png"> </a>

        </div>
      </div>              
    
        
    </div>
    
    <div class="box three">
      <h1>Ágatha Camargo</h1>
      <div class="poster p12">
        <div style="display: flex;width: 100%;justify-content: center;"> 
          <a href="https://www.linkedin.com/in/agatha-camargo/" target="_blank"><img class="img-fluid"src="https://i.imgur.com/v7D3Tap.png"></a>
        
      </div> 
    </div>
        
    <div class="poster2 p12">
      <div style="display: flex;width: 100%;justify-content: center;">
        <a href="https://github.com/agathacamargo23" target="_blank"> <img class="img-fluid2" src="https://i.imgur.com/2aS8GtQ.png"> </a>

        </div>
      </div>              
    
        
    </div>
    
    <div class="box four">
      <h1>Pablo Cotrim</h1>
      <div class="poster p4">
        <div style="display: flex;width: 100%;justify-content: center;"> 
          <a href="https://www.linkedin.com/in/pablocotrim/" target="_blank"><img class="img-fluid"src="https://i.imgur.com/v7D3Tap.png"></a>
        
      </div> 
    </div>
        
    <div class="poster2 p4">
      <div style="display: flex;width: 100%;justify-content: center;">
        <a href="https://github.com/PabloCotrim" target="_blank"> <img class="img-fluid2" src="https://i.imgur.com/2aS8GtQ.png"> </a>

        </div>
      </div>              
    
        
    </div>
    
    <div class="box five">
      <h1>Jéter Simão</h1>
      <div class="poster p9">
        <div style="display: flex;width: 100%;justify-content: center;"> 
          <a href="https://www.linkedin.com/in/j%C3%A9ter-sim%C3%A3o-558095197/" target="_blank"><img class="img-fluid"src="https://i.imgur.com/v7D3Tap.png"></a>
        
      </div> 
    </div>
        
    <div class="poster2 p9">
      <div style="display: flex;width: 100%;justify-content: center;">
        <a href="https://github.com/Jeter-S" target="_blank"> <img class="img-fluid2" src="https://i.imgur.com/2aS8GtQ.png"> </a>

        </div>
      </div>              
    
        
    </div>
    
    <div class="box six">
      <h1>Izabela Almeida</h1>
      <div class="poster p13">
        <div style="display: flex;width: 100%;justify-content: center;"> 
          <a href="https://www.linkedin.com/in/iizabelaalmeida/" target="_blank"><img class="img-fluid"src="https://i.imgur.com/v7D3Tap.png"></a>
        
      </div> 
    </div>
        
    <div class="poster2 p13">
      <div style="display: flex;width: 100%;justify-content: center;">
        <a href="https://github.com/IzabelaAlmeida" target="_blank"> <img class="img-fluid2" src="https://i.imgur.com/2aS8GtQ.png"> </a>


        
        </div>
      </div>              
    
      
    </div>
    <app-rodape></app-rodape>
        
    
  </div>
  </div>
  
 
  